#adminmenu #toplevel_page_nes-settings .menu-icon-generic div.wp-menu-image:before {
	font-family: "Black Tie" !important;
    content: "\F0C8";
	font-size: 1.3em !important;
	font-weight: 400;
  	font-style: normal;
}
.nes-clearer {
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block;
}
.nes-message {margin-bottom:20px; clear: left;padding: 10px 20px;background: #F0F8FF;border-radius: 3px;border: 1px solid #ADD8E6;}
.nes-full-width {width:100%;}
#nes-fields h1,#nes-fields h2,#nes-fields h3,#nes-fields h4,#nes-fields h5,#nes-fields h6{}
.nes-main-wrap {margin-right: 20px;}
.nes-content-wrap {float:left; width:70%;}
.nes-page-title {font-weight: normal; margin-bottom:30px;}
.nes-tab-title {margin-top: 20px}
#nes-shortcode {float:right; font-size: 14px;}
.nes-settings-sidebar {float:right; width:25%; background:#ddd; padding:0 20px;margin-top:25px;}
.nes-main-wrap form label {display: block; width:270px; float:left; line-height: 1.2em; clear:left;}
.nes-main-wrap form input[type="submit"] {display: block; float:left; margin-top:30px; clear:left;}
.nes-main-wrap .updated {margin:15px 0;}
.nes-main-wrap .nav-tab {margin-left:0; margin-right:5px;}
.nes-main-wrap .nes-event-page-settings label {float:none; width:auto;}
.nes-main-wrap .nes-event-page-settings select {width:300px;}
.nes-main-wrap .nes-event-page-settings div {margin-bottom:10px;}


#nes-roles {margin:2em 0;}
#nes-roles table {margin:2em 0;}
#nes-roles table th, #nes-roles table td {width:100px; text-align: center;}
#nes-roles table td.role-name {width:auto; text-align: left;}



#nes-show-admin-bar ul {margin-left: 20px;}
#nes-calendar-form, #nes-day-form {float:right; margin-top:4px;}
#nes-calendar-venue {float:right;margin-left:10px;}
.nes-calendar {width:100%; min-width: 600px;}
.nes-calendar-nav {float:right; margin-bottom:15px;}
.nes-calendar-nav button {margin-left:10px !important;}
#nes-calendar-month {border:1px solid #ccc; border-width: 1px 1px 1px 0;}
#nes-calendar-month th {width:14.285%; background: #ddd; padding:5px 0;border-left:1px solid #ccc;}
.nes-calendar .calendar-row td.calendar-day:hover {cursor:pointer;}
.nes-calendar .calendar-row td {padding:25px 10px 5px 10px; background:#fff; position:relative; height: 120px; overflow: auto; border:1px solid #ccc; border-width: 1px 0 0 1px;}
.nes-calendar .calendar-row td.calendar-day-np {background: #f5f5f5;}
.nes-calendar .calendar-row td.today {background:#ffffe0;}
.nes-calendar .calendar-row td .day-number {position:absolute; top:0; right:5px;}
.nes-calendar .calendar-row td i {display:none; position:absolute; top:4px; left:5px;}
.nes-calendar .calendar-row td:hover i {display:block;}
.nes-calendar .calendar-row td a {display:block; padding:5px 10px; color:white; border-radius:5px; text-decoration: none; margin-bottom:5px;}
.nes-calendar .calendar-row td a:hover {text-decoration: underline;}
.nes-calendar .calendar-row td a.pending {background:blue;}
.nes-calendar .calendar-row td a.approved {background:green;}
.nes-calendar .calendar-row td a.denied {background:red;}
.nes-venue-general {padding-left:10px;margin-bottom:20px;}
.nes-venue-general input[type="text"]{width:300px;}
.nes-availability {background:#f5f5f5;}
.nes-availability h3 {padding: 15px;margin: 0; border-bottom: 1px solid #ccc;}
.nes-availability>div{float:left; margin:5px 15px;}

.nes-blackouts .nes-blackout-list {width:100%;}
.nes-blackouts .nes-blackout-list input,
.nes-blackouts .nes-blackout-list select,
.nes-blackouts .chosen-container {width:100%;}
.nes-blackouts th, 
.nes-blackouts td {vertical-align: top; padding:5px 0;}
.nes-blackouts th {text-align: left;}
.nes-blackouts td i {cursor:pointer; margin-left: 10px;}
.nes-blackouts .nes-blackout-locations {width:25%;}

#nes-day-view {width:100%; background: #fff; border-right:1px solid #eee; border-bottom:1px solid #eee;}
#nes-day-view .nes-header-row {background: #ddd;}
#nes-day-view th {padding:10px; box-sizing:border-box;}
#nes-day-view td {position:relative; box-sizing:border-box; height:30px; border-left:1px solid #eee; border-top:1px solid #eee;}
#nes-day-view td.time {padding:0 10px;}
#nes-day-view .event {z-index:9; position:absolute; top:0; left:0; width:100%; box-sizing:border-box; overflow: auto;}
#nes-day-view .nes-edit {color:#0074a2;}
#nes-day-view a {text-decoration: none; color:white; padding:10px;  box-sizing:border-box;}
#nes-day-view a i {float:right;display:none;margin-right: 10px;margin-top: 4px;}
#nes-day-view td:hover a i {display:block;}
#nes-day-view a.pending {background:blue;}
#nes-day-view a.pending i {margin:0;}
#nes-day-view a.approved {background:green;}
#nes-day-view a.approved i {margin:0;}
#nes-day-view a.denied {background:red;}
#nes-day-view a.denied i {margin:0;}
#nes-day-view .not-available {background:#ccc;}
.tableFloatingHeaderOriginal{z-index: 99;}
#nes-settings-wrap {float:left; width:70%;}
.nes-key {float:left;width:80%;}
.icon-ok {float:left; margin-left:10px; color:#70b92f; font-size: 1.8em;}
.icon-remove {float:left; margin-left:10px; color:red; font-size: 1.8em;}
#nes-setup-usage ul {list-style: disc; margin-left:20px;}
.nes-main-wrap form .form-field-labels label {float:none; width:auto; display:block;}
.nes-main-wrap form .form-field-labels input {width:400px;}

.nes-colorpicker{float:left;width:50px; height:25px;border:1px solid #444;}
.nes-colorpicker:hover{cursor:pointer;}
.nes-main-wrap form label.nes-after-input {clear:none; width:auto; margin-left:10px;}
.nes-tabbed-view {float:right;width:65%;}
.nes-location-tabs {float:left;width:30%;margin-top:20px; background: #ddd; font-size:14px; z-index:99;}
.nes-location-tabs p {text-transform: uppercase; font-weight:bold;margin-bottom: 10px; padding:10px 20px;}
.nes-location-tabs ul {margin:0;padding:0;}
.nes-location-tabs ul li {list-style: none; cursor: pointer; margin-bottom: 10px; line-height: 1em; padding:10px 20px;}
.nes-location-tabs ul li.nes-active-tab {background: #ccc;}


/* meta boxes */
.nes-input-large {width:500px;}
.nes-check-availability {margin-top:20px;}
.nes-availability-result {background: #fafafa; padding: 10px 10px; margin: 5px 0 10px; border: 1px solid #eee;}
.nes-availability-result ul {margin-left:10px;}
.nes-availability-wrap img {display:block; margin-bottom:10px;}

.nes-recurring-series {background: #fafafa; padding: 5px 10px 10px; margin: 10px 0; border: 1px solid #eee;}

#nes-event-meta label.nes-styled {width:130px;display: inline-block; line-height: 1.2em;}
#nes-event-meta h3.nes-section-title {color:#333; cursor:pointer;border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top:30px;}
#nes-event-meta h3.nes-section-title i {color:#666; float:right;margin:0 10px;}

.nes-dialog ul li {list-style: disc; margin-left: 20px;}
.ui-dialog {box-shadow: 0 0 60px 10px rgba(0,0,0,0.4);}
.ui-dialog-titlebar-close:focus {outline: 0;}

.nes-offsite-venue input {width:500px;}

.nes-event-date-time-section .nes-custom-datepicker-wrap {width:100%; margin-top:20px; }
.nes-event-date-time-section #nes-custom-datepicker {float:left;margin-top:5px;}
.nes-event-date-time-section .nes-custom-dates {float:left; width:130px;}
.nes-event-date-time-section .nes-custom-dates label{display:block; margin-bottom:10px;}
.nes-event-date-time-section .nes-custom-dates .nes-custom-date-display {margin-left:10px;}

.nes-tickets {margin-top:20px;}
.nes-tickets th {text-align:left; vertical-align: bottom; line-height: 1em;}
.nes-tickets .nes-ticket-type {width:100px;}
.nes-tickets .nes-ticket-description {width:400px;}
.nes-tickets .nes-ticket-price {width:150px;}
.nes-tickets .nes-ticket-suggested {width:150px;}
.nes-tickets .nes-add-remove {width:45px;}

.nes-tickets .nes-ticket-description input,
.nes-tickets .nes-ticket-price input,
.nes-tickets .nes-ticket-suggested input {width:100%;}

.nes-tickets i {margin-left:5px; cursor:pointer;}
.nes-attendee-link {padding:10px; background: #f1f1f1;}

/* Attendees List */
.nes-event-info {background:#ffffff; padding:10px 20px;border:1px solid #eee;}
.nes-event-info .nes-what-when-where {float:left; margin-right:250px;}
.nes-event-info .nes-how-many {float:right; width:200px;padding:10px 20px; text-align:center; background:#f5f5f5; border:1px solid #eee;}
.nes-attendee-list {width:100%; margin:20px 0; border-collapse: collapse;}
.nes-attendee-list th {cursor:pointer;text-align: left; padding:10px;}
.nes-attendee-list .header.headerSortUp:after {	
  font-family: "Black Tie" !important;
  content: "\F0A4";
  font-size: 0.8em !important;
  font-weight: 900;
  font-style: normal;
  margin-left:10px;
}
.nes-attendee-list .header.headerSortDown:after {	
  font-family: "Black Tie" !important;
  content: "\F0A5";
  font-size: 0.8em !important;
  font-weight: 900;
  font-style: normal;
  margin-left:10px;
}
.nes-attendee-list tbody {border:1px solid #eee;}
.nes-attendee-list td {padding:5px 10px;}
.nes-attendee-list .even {background: #e5e5e5;}
.nes-attendee-list .odd {background: #ffffff;}
.nes-check-in-out .button {width:85px;}
.nes-check-in-out .button:focus {box-shadow: none; outline: 0; border:1px solid #ccc;}
.nes-check-out.button,
.nes-check-out.button:focus,
.nes-check-out.button:hover {outline:0;border:none; background: none;box-shadow: none;}

/* ajax saving wrap */
#nes-saving-wrap {position: fixed; z-index:9999; width:100%;height:100%;top:0; left:0; background:rgba(0,0,0,0.25);}
#nes-saving {position:absolute; top:50%; left:50%; padding:100px 0; box-shadow:0 0 100px 30px rgba(0,0,0,0.25); background:#fff; width:300px;margin-left:-150px; margin-top:-100px; text-align: center;}

/* required meta fields */
.nes-required-field {border:1px solid #a00 !important; background:#ffefef !important; }
.ui-dialog {z-index: 1001;}
.ui-draggable .ui-dialog-titlebar {background: #ddd;}
.ui-draggable .ui-dialog-titlebar .ui-dialog-titlebar-close {background: #ddd;}
.ui-dialog .ui-dialog-buttonpane button {background: #ddd;}

.ui-widget-overlay {background: #000; z-index:1000;}

/* datepicker styles for event meta field */
.post-type-nes_event .ui-datepicker {
  background: #666;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width:auto;
}

.post-type-nes_event .ui-datepicker {
  padding: 0;
}

.post-type-nes_event .ui-datepicker-header {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 15px;
}

.post-type-nes_event .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-title {
  margin-top: .4em;
  margin-bottom: .3em;
  color: #e9f0f4;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-prev-hover,
.post-type-nes_event .ui-datepicker .ui-datepicker-next-hover,
.post-type-nes_event .ui-datepicker .ui-datepicker-next,
.post-type-nes_event .ui-datepicker .ui-datepicker-prev {
  top: .9em;
  border:none;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-next span,
.post-type-nes_event .ui-datepicker .ui-datepicker-prev span {
  background-image: url(ui-icons_ffffff_256x240.png);
  background-position: -32px 0;
  margin-top: 0;
  top: 0;
  font-weight: normal;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px 0;
}

.post-type-nes_event .ui-datepicker table {
  margin: 0;
}

.post-type-nes_event .ui-datepicker th {
  padding: 0;
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
  border: none;
}

.post-type-nes_event .ui-datepicker td {
  background: #fff;
  border: none;
  padding: 0;
}

.post-type-nes_event td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: .5em;
  margin: 0;
  font-weight: normal;
  color: #333;
  font-size: 16px;
}

.post-type-nes_event .ui-datepicker .ui-datepicker-calendar .ui-state-disabled  {
  opacity: 1;
  background: #eee;
  color:#aaa;
}

.post-type-nes_event .ui-state-disabled .ui-state-default {
  color: #aaa;
  background: #eee;
}


.post-type-nes_event td .ui-state-hover {
  background: #666;
  color:#fff;
}

.post-type-nes_event .ui-datepicker-trigger{
	background: none;
    border: none;
    color:#aaa;
    outline: 0;
}

.post-type-nes_event .ui-datepicker .ui-state-highlight a {
  background:#333;
  color:#fff;
}

/* Admin dashboard widgets */
#dashboard-widgets-wrap .nes-widget-list h5 {font-size: 1.1em; margin:0;}
#dashboard-widgets-wrap .nes-widget-list p {margin:0;}
#dashboard-widgets-wrap .nes-widget-list .nes-list-item {margin-bottom:10px; border-bottom:1px solid #eee; padding-bottom:10px;}
#dashboard-widgets-wrap .view-all-events {float:right; margin-right:10px;}
#dashboard-widgets-wrap .view-all-events i {font-size:0.8em; margin-left:5px;}